@model LiteCommerce.DomainModels.Employee
    @{ 

    }

<div class="box box-primary">
    <form action="~/Employee/Input" method="post" enctype = "multipart/form-data" id="Employee">
        <div class="box-body">
            <span style="color: red">@Html.ValidationMessage("errorAddr")</span>
            <span style="color: red">@Html.ValidationMessage("errorRole")</span>
            <span style="color:red">@TempData["emptyFile"]</span>
            <span style="color:red">@TempData["emptyEmail"]</span>
            <div class="row">
                <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input name="LastName" required value="@Model.LastName" type="text" class="form-control"  placeholder="Last Name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">First Name</label>
                        <input name="FirstName" required value="@Model.FirstName" type="text" class="form-control"  placeholder="First Name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Title</label>
                        <input name="Title" required value="@Model.Title" type="text" class="form-control"  placeholder="Title">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">BirthDate</label>
                        <input name="BirthDate" required value="@(Model.EmployeeID==0?AppSettings.DefaultDateTime:Model.BirthDate.ToString("dd/MM/yyyy"))" type="text" class="form-control" >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">HireDate</label>
                        <input name="HireDate" required value="@(Model.EmployeeID==0?AppSettings.DefaultDateTime:Model.HireDate.ToString("dd/MM/yyyy"))" type="text" class="form-control" >
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Address</label>
                <input name="Address" required value="@Model.Address" type="text" class="form-control"  placeholder="Address">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">City</label>
                        <input name="City" required value="@Model.City" type="text" class="form-control"  placeholder="City">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Counntry</label>
                        <select class="form-control" name="Country">
                            <option value="">-- Choose Country --</option>
                            @foreach (var country in SelectListHelper.listCountrys())
                            {
                                if (country.Value == Model.Country)
                                {
                                    <option value="@country.Value" selected="selected">@country.Text</option>
                                }
                                else
                                {
                                    <option value="@country.Value">@country.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Home Phone</label>
                        <input name="HomePhone" required value="@Model.HomePhone" type="text" class="form-control"  placeholder="Home Phone">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input name="Email" required value="@Model.Email" type="email" class="form-control"  placeholder="Email">
                        @if (Model.EmployeeID != 0)
                        {
                            if (String.IsNullOrEmpty(ViewBag.oldEmail))
                            {
                                <input name="oldEmail" type="hidden" value="@Model.Email" />
                            }
                            else
                            {
                                <input name="oldEmail" type="hidden" value="@ViewBag.oldEmail" />
                            }
                        }
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Photo Path</label>
                        <input name="file" type="file" class="form-control" id="file">

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="Password" value="@Model.Password" type="password" class="form-control"  placeholder="Password">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="exampleInputPassword1">GroupName</label>
                                <select class="form-control" id="GroupName">
                                    @foreach (var item in SelectListHelper.listRoles())
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label style="opacity: 0">List</label>
                                <input class="form-control" id="ListRoles"  required type="text" name="GroupName" value="@Model.GroupName" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Note</label>
                        <input name="Notes" value="@Model.Notes" type="text" class="form-control" >
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <div class="col-sm-12">
                <button type="submit" style="margin-right: 10px" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                <a href="~/Employee" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>

