@model LiteCommerce.Admin.Models.CategoryPaginationResult
@{
    ViewBag.Title = "Manager Category";
    int i = 0;
}

<div class="box box-primary">
    <form action="~/Category" method="get">
        <div class="box-body">
            <div class="input-group input-group-sm">
                <input name="searchValue" type="text" class="form-control" placeholder="Nhập giá trị cần tìm....." value="@Model.searchValue">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
<form action="~/Category/Delete" method="post">
    <div class="container-fluid row" style="margin-bottom: 10px">
        <div class="col-sm-8">
            There are <b>@Model.RowCount </b> categories. Page @Model.Page on @Model.PageCount
        </div>
        <div class="col-sm-4 text-right">
            <div class="btn-group ">
                <a href="~/Category/Input" class="btn btn-primary btn-sm">Add Category</a>
                <button class="btn btn-danger btn-sm">Delete Categories </button>
            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px">
                            <input type="checkbox" name="CategoryIDs" value="" class="listCheck" />
                        </th>
                        <th style="width: 50px">#</th>
                        <th style="width: 200px">Category Name</th>
                        <th style="width: auto">Decription</th>
                        <th style="width: 80px; text-align: center">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="name" value="@item.CategoryID" class="checkItem"/>
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span class="text-primary" style="font-weight:bolder">@item.CategoryName</span><br />
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td class="text-center">
                                <a href="~/Category/Input/@item.CategoryID" class="btn btn-default">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/Category?page=1&searchValue=@Model.searchValue"><i class="fa fa-angle-double-left"></i></a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    <li><a href="~/Category?page=@page&searchValue=@Model.searchValue">@page</a></li>
                }
                <li><a href="~/Category?page=@Model.PageCount&searchValue=@Model.searchValue"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</form>
