
@{
    ViewBag.Title = "Order Detail";
    int i = 1;
    double total = 0;

}

    <div class="box box-primary">
        <div class="box-content">
            <div class="box-body">
                <a href="~/Order" class="pull-right" style="margin-bottom: 20px;">Back to page</a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:center">#</th>
                            <th>Product Name</th>
                            <th style="text-align:center">Unit Price</th>
                            <th style="text-align:center">Quantity</th>
                            <th style="text-align:center">Discount</th>
                            <th style="text-align:center; ">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["OrderDetail"] as List<LiteCommerce.DomainModels.OrderDetail>)
                         {
                            <tr>
                                <td align="center">@(i++)</td>
                                @foreach (var product in SelectListHelper.Product())
                                {
                                    if (product.Value == item.ProductID.ToString())
                                    {
                                        <td>@product.Text</td>
                                    }
                                 }
                                <td align="center">@item.UnitPrice</td>
                                <td align="center">@item.Quantity</td>
                                <td align="center">@Math.Round(@item.Discount, 2)</td>
                                <td align="center">@(Math.Round((item.UnitPrice * item.Quantity) * (100 - item.Discount) / 100, 2))</td>
                                @{
                                    total += Math.Round((item.UnitPrice * item.Quantity) * (100 - item.Discount) / 100, 2);
                                 }


                            </tr>
                        }
                        <tr>
                            <td colspan="5" align="right" style="color: red">Total Price:</td>
                            <td align="center">@total</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


